:root {
  --accent-color: #00c0ff;
  --cubic-bezier: cubic-bezier(0.1, 0.9, 0.2, 1);
  --float-dir-start: left;
  --float-dir-end: right;
  --icon-filter: invert(1) hue-rotate(180deg);
  --icon-svg-fill: #000000;
  --text-color: #000000;
  --main-color-darker: #c0c0c0;
  --main-color-dark: #d0d0d0;
  --main-color-medium: #e0e0e0;
  --main-color-light: #ffffff;
  --main-color-lighter: #ffffff;
  --hover-color-normal: rgba(0, 0, 0, 0.125);
  --hover-color-active: rgba(0, 0, 0, 0.25);
  --shadow-color: rgba(0, 0, 16, 0.5);
  --glass-color-faint: rgba(255, 255, 255, 0.25);
  --glass-color-medium: rgba(255, 255, 255, 0.5);
  --glass-color-bold: rgba(255, 255, 255, 0.75);
  --polish-color-top: rgba(0, 0, 0, 0.0625);
  --polish-color-sides: rgba(0, 0, 0, 0.125);
  --polish-color-bottom: rgba(0, 0, 0, 0.25);
}
@media (prefers-color-scheme: dark) {
   :root {
    --icon-filter: invert(0) hue-rotate(0deg);
    --icon-svg-fill: #ffffff;
    --text-color: #ffffff;
    --main-color-darker: #000008;
    --main-color-dark: #101018;
    --main-color-medium: #202028;
    --main-color-light: #303038;
    --main-color-lighter: #404048;
    --hover-color-normal: rgba(255, 255, 255, 0.125);
    --hover-color-active: rgba(255, 255, 255, 0.25);
    --glass-color-faint: rgba(48, 48, 56, 0.25);
    --glass-color-medium: rgba(48, 48, 56, 0.5);
    --glass-color-bold: rgba(48, 48, 56, 0.75);
    --polish-color-top: rgba(255, 255, 255, 0.25);
    --polish-color-sides: rgba(255, 255, 255, 0.125);
    --polish-color-bottom: rgba(255, 255, 255, 0.0625);
   }
}
[dir="rtl"] {
  --float-dir-start: right;
  --float-dir-end: left;
}
:marker {}
::placeholder,
[disabled] {
  opacity: 0.5;
}
::selection {
  color: var(--text-color);
  background: var(--accent-color);
}
::-webkit-media-controls-timeline-container {
  border-radius: 4px;
}
::-webkit-media-controls-current-time-display,
::-webkit-media-controls-time-remaining-display {
  box-shadow: none;
}
::-webkit-media-controls-timeline {
  border-radius: 2rem;
}
::-webkit-media-controls-volume-slider-container {
  border-radius: 4px;
}
::-webkit-media-controls-volume-slider {
  border-radius: 2rem;
}
::-webkit-scrollbar {
  background-color: var(--glass-color-bold);
  display: block;
  transition: 250ms var(--cubic-bezier);
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  border-radius: 2rem;
  border-style: solid;
  display: block;
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #808080 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #707070 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  border-color: transparent transparent #606060 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #808080 transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #707070 transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:active {
  border-color: #606060 transparent transparent transparent;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-width: 8px 8px 8px 0;
  border-color: transparent #808080 transparent transparent;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  border-color: transparent #707070 transparent transparent;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  border-color: transparent #606060 transparent transparent;
}
::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #808080;
}
::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
  border-color: transparent transparent transparent #707070;
}
::-webkit-scrollbar-button:horizontal:single-button:increment:active {
  border-color: transparent transparent transparent #606060;
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.125);
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #808080;
  border: 4px solid transparent;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #707070;
}
::-webkit-scrollbar-thumb:active {
  background-color: #606060;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
[desc]:hover {
  cursor: help;
}
[desc]:hover:before,
[desc]:focus:before {
  background-color: var(--main-color-dark);
  border: 1px solid var(--main-color-darker);
  border-radius: 0 4px 0 0;
  content: attr(desc);
  padding: 6px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: auto;
}
* {
  caret-color: var(--text-color);
  color: var(--text-color);
  font-family: "Segoe Ui", "Ubuntu", -apple-system, "Sans Serif", "Times New Roman";
  letter-spacing: 0;
  scrollbar-width: auto;
  text-align: var(--float-dir-start);
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
small {
  display: block;
  margin: 8px 0;
}
audio,
audio::-webkit-media-controls-panel {
  background-color: #e0e0e0;
  background-image: none;
  border-radius: 4px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider-container {
  border-radius: 4px;
  background-color: #d0d0d0;
}
audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-mute-button:hover {
  background-color: #c0c0c0;
}
audio::-webkit-media-controls-play-button:active,
audio::-webkit-media-controls-mute-button:active {
  background-color: #b0b0b0;
}
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider {
  border-radius: 2rem;  
}
b {
  font-weight: bold;
}
body {
  background-color: var(--main-color-light);
  display: block;
  overflow: auto;
}
body[role="application"] {
  margin: 0;
  overflow: hidden;
  perspective: 1024px;
  min-height: 100vh;
}
br {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
button,
input[type="button"],
input[type="submit"] {
  background-color: var(--main-color-medium);
  border: 1px solid var(--main-color-dark);
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
  transition: transform 250ms var(--cubic-bezier);
  position: relative;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: var(--main-color-dark);
  border-color: var(--main-color-darker);
}
button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background-color: var(--main-color-darker);
  border-color: var(--main-color-dark);
}
code {
  appearance: auto;
  background-color: var(--main-color-medium);
  box-shadow: inset 0 2px 4px 0 var(--shadow-color);
  border-radius: 4px;
  font-family: monospace;
  margin: 8px 0;
  overflow: auto;
  padding: 7px;
  max-height: 384px;
}
datalist,
select {
  background-color: var(--main-color-medium);
  border: none;
  border-bottom: 3px solid var(--main-color-dark);
  border-radius: 4px;
  font-size: 16px;
  padding: 7px;
}
datalist:focus,
select:focus {
  border-bottom-color: var(--accent-color);
}
dialog {
  background-color: var(--main-color-light);
  border: 2px solid;
  border-color: var(--polish-color-top) var(--polish-color-sides) var(--polish-color-bottom);
  border-radius: 6px;
  box-shadow: 0 4px 8px 2px var(--shadow-color);
  overflow: hidden;
  padding: 8px;
  transition: transform 250ms var(--cubic-bezier);
  z-index: 2;
  position: fixed;
  left: 32px;
  top: 24px;
  width: 512px;
  height: 384px;
}
fieldset {
  border: 2px solid var(--text-color);
  border-radius: 4px;
  margin: 8px 0;
  padding: 0 12px 6px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
head,
link,
meta,
script,
title {
  display: none;
}
header {
  background-color: var(--main-color-light);
  display: block;
  font-weight: bold;
  overflow: hidden;
  padding: 7px 0;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  transition: 250ms var(--cubic-bezier);
  z-index: 1;
  position: sticky;
  left: 0;
  top: 0;
  width: -moz-available;
  width: -webkit-fill-available;
}
header:lt {
  box-shadow: 0 2px 4px 0 var(--shadow-color);
}
hr {
  border: 1px solid var(--hover-color-normal);
  margin: 8px 0;
  width: -moz-available;
  width: -webkit-fill-available;
}
html {
  display: block;
  scroll-behavior: smooth;
}
img {
  display: block;
}
iframe,
object {
  border: 2px solid var(--text-color);
}
input[type="checkbox"] {
  appearance: none;
  background-color: var(--main-color-medium);
  border-radius: 4px;
  margin: 8px;
  margin-left: 0;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="range"]:hover,
input[type="text"]:hover,
input[type="textbox"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
  background-color: var(--main-color-dark);
}
input[type="checkbox"]:active,
input[type="radio"]:active,
input[type="range"]:active,
input[type="text"]:active,
input[type="textbox"]:active,
input[type="search"]:active,,
input[type="email"]:active,
input[type="password"]:active,
select:active {
  background-color: var(--main-color-darker);
}
input[type="checkbox"]:checked {
  background-color: var(--accent-color);
}
input[type="checkbox"]:checked:before {
  background-image: url("images/checkbox_check.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  content: "";
  filter: var(--icon-filter);
  float: left;
  margin: 4px;
  width: 16px;
  height: 16px;
}
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0;
  transform: translateY(-14px);
  width: calc(100% - 48px);
}
input[type="color"] {
  background-color: transparent;
  border: 1px solid var(--hover-color-normal);
  border-radius: 2rem;
  display: block;
  overflow: hidden;
  padding: 0;
  width: 48px;
  height: 48px;
}
input[type="color"]:before {
  background-image: linear-gradient(to top, transparent, var(--hover-color-normal));
  content: "";
  display: block;
  float: left;
  transform: rotate(45deg);
  position: relative;
  left: -18px;
  top: -64px;
  width: 48px;
  height: 48px;
}
input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 2rem;
}
input[type="color"]::-moz-color-swatch-wrapper {
  border-radius: 2rem;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 2rem;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border-radius: 2rem;
  padding: 0;
}
input[type="date"],
input[type="time"] {
  background-color: var(--main-color-medium);
  border: 2px solid var(--main-color-dark);
  border-radius: 4px;
  padding: 7px;
}
input[type="radio"] {
  appearance: none;
  background-color: var(--main-color-medium);
  border-radius: 2rem;
  margin: 8px;
  margin-left: 0;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
}
input[type="radio"]:checked {
  background-position: center;
  background-size: 75% 75%;
  border: 4px solid var(--accent-color);
  width: 24px;
  height: 24px;
}
input[type="radio"]:checked:before {
  background-color: var(--accent-color);
  border-radius: 50%;
  content: "";
  display: inline-block;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
}
input[type="range"] {
  appearance: none;
  background-color: var(--main-color-medium);
  border-radius: 2rem;
  margin: 8px 0;
  width: 300px;
  height: 8px;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-progress {
  background-color: var(--accent-color);
  border-radius: 2rem 0 0 2rem;
  height: 8px;
}
input[type="range"]::-moz-range-thumb {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2rem;
  width: 24px;
  height: 24px;
}
input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background-color: var(--accent-color);
  border-radius: 2rem;
  height: 8px;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2rem;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
}
input[type="search"],
input[type="text"],
input[type="textbox"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  background-color: var(--main-color-medium);
  border: none;
  border-bottom: 3px solid var(--main-color-dark);
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="textbox"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: var(--accent-color);
}
li {
  display: list-item;
}
kbd {
  background-color: var(--main-color-medium);
  border: 1px solid var(--main-color-dark);
  border-radius: 4px;
  font-family: monospace;
  padding: 7px;
}
legend {
  padding: 0 4px;
}
option {
  border-radius: 4px;
  padding: 7px;
}
progress {
  appearance: none;
  background-color: var(--main-color-medium);
  border: none;
  border-radius: 2rem;
  display: block;
  margin: 8px;
  overflow: hidden;
  width: 96px;
  height: 8px;
  -webkit-appearance: none;
}
progress:before:not([min][max]) {
  animation: anim_progress 1s linear infinite;
  background-color: var(--accent-color);
  border-radius: 2rem;
  content: "";
  float: left;
  position: relative;
  left: 0;
  top: -8px;
  width: 24px;
  height: 100%;
}
video::-webkit-media-controls-panel {
   background-image: none;
   transition: 125ms linear;
}
video::-webkit-media-controls-panel:hover {
   background-color: rgba(0, 0, 0, 0.25);
}
::-wos-selected {
  border-radius: 4px;
  display: none;
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
  transition: 250ms var(--cubic-bezier);
  z-index: 65534;
  position: absolute;
}
[dir="rtl"] input[type="checkbox"],
[dir="rtl"] input[type="radio"] {
  margin-left: 8px;
  margin-right: 0;
}
[dir="rtl"] input[type="checkbox"][switch]:before {
  position: relative;
  left: auto;
  right: 0;
}
[dir="rtl"] input[type="checkbox"][switch]:checked:before {
  position: relative;
  left: auto;
  right: 24px;
}
#screen :focus-visible,
#app-holder:focus-visible {
  outline: none;
}
