:root {
    --accent-color: #00c0ff;
    --text-color: #000000;
    --main-color-darker: #c0c0c0;
    --main-color-dark: #d0d0d0;
    --main-color-medium: #e0e0e0;
    --main-color-light: #ffffff;
    --main-color-lighter: #ffffff;
    --hover-color-normal: rgba(0, 0, 0, 0.125);
    --hover-color-active: rgba(0, 0, 0, 0.25);
    --shadow-color: rgba(0, 0, 16, 0.5);
    --cubic-bezier: cubic-bezier(0, 0, 0, 1);
    --glass-color-faint: rgba(255, 255, 255, 0.25);
    --glass-color-medium: rgba(255, 255, 255, 0.5);
    --glass-color-bold: rgba(255, 255, 255, 0.75);
    --polish-color-top: rgba(0, 0, 0, 0.0625);
    --polish-color-sides: rgba(0, 0, 0, 0.125);
    --polish-color-bottom: rgba(0, 0, 0, 0.25);
    --checkbox-icon: url("./images/check@light.png");
    --float-dir-start: left;
    --float-dir-end: right;
    --icon-filter: invert(1) hue-rotate(180deg);
    --icon-svg-fill: #000000;
}
@media (prefers-color-scheme: dark) {
     :root {
        --text-color: #ffffff;
        --main-color-darker: #000000;
        --main-color-dark: #101010;
        --main-color-medium: #202020;
        --main-color-light: #303030;
        --main-color-lighter: #404040;
        --hover-color-normal: rgba(255, 255, 255, 0.125);
        --hover-color-active: rgba(255, 255, 255, 0.25);
        --glass-color-faint: rgba(0, 0, 0, 0.25);
        --glass-color-medium: rgba(0, 0, 0, 0.5);
        --glass-color-bold: rgba(0, 0, 0, 0.75);
        --polish-color-top: rgba(255, 255, 255, 0.25);
        --polish-color-sides: rgba(255, 255, 255, 0.125);
        --polish-color-bottom: rgba(255, 255, 255, 0.0625);
        --checkbox-icon: url("./images/check@dark.png");
        --icon-filter: invert(0) hue-rotate(0deg);
        --icon-svg-fill: #ffffff;
     }
}
[dir="rtl"] {
    --float-dir-start: right;
    --float-dir-end: left;
}
:focus-visible {
    outline: 2px solid var(--text-color);
    outline-offset: 2px;
    z-index: 65534;
}
::marker {
    background-color: rgba(255, 255, 0, 0.5);
}
::placeholder,
[disabled] {
    opacity: 0.5;
}
::selection {
    color: var(--text-color);
    background: var(--accent-color);
}
::-webkit-media-controls-timeline-container {
    border-radius: 4px;
}
::-webkit-media-controls-current-time-display,
::-webkit-media-controls-time-remaining-display {
    box-shadow: none;
}
::-webkit-media-controls-timeline {
    border-radius: 2rem;
}
::-webkit-media-controls-volume-slider-container {
    border-radius: 4px;
}
::-webkit-media-controls-volume-slider {
    border-radius: 2rem;
}
::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.125);
    width: 16px;
    height: 16px;
}
::-webkit-scrollbar-button:single-button {
    background-color: transparent;
    display: block;
    border-radius: 2rem;
    border-style: solid;
    height: 12px;
    width: 12px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #808080 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #707070 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    border-color: transparent transparent #606060 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #808080 transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #707070 transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:active {
    border-color: #606060 transparent transparent transparent;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 8px 8px 8px 0;
    border-color: transparent #808080 transparent transparent;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    border-color: transparent #707070 transparent transparent;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    border-color: transparent #606060 transparent transparent;
}
::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #808080;
}
::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
    border-color: transparent transparent transparent #707070;
}
::-webkit-scrollbar-button:horizontal:single-button:increment:active {
    border-color: transparent transparent transparent #606060;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.125);
}
::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #808080;
    border: 4px solid transparent;
    border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}
::-webkit-scrollbar-thumb:active {
    background-color: #606060;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
[desc]:hover {
    cursor: help;
}
[desc]:hover:after,
[desc]:focus:after {
    background-color: var(--main-color-dark);
    border: 1px solid var(--main-color-darker);
    border-radius: 0 4px 0 0;
    content: attr(desc);
    padding: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto;
}
* {
    caret-color: var(--text-color);
    color: var(--text-color);
    font-family: "Ubuntu";
    letter-spacing: 0;
    scrollbar-width: auto;
    text-align: left;
}
a {
    color: var(--accent-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    opacity: 0.75;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
small {
    display: block;
    margin: 8px 0;
}
audio,
audio::-webkit-media-controls-panel {
    background-color: #e0e0e0;
    background-image: none;
    border-radius: 4px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider-container {
    border-radius: 4px;
    background-color: #d0d0d0;
}
audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-mute-button:hover {
    background-color: #c0c0c0;
}
audio::-webkit-media-controls-play-button:active,
audio::-webkit-media-controls-mute-button:active {
    background-color: #b0b0b0;
}
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider {
    border-radius: 2rem;    
}
b {
    font-weight: bold;
}
body {
    background-color: var(--main-color-light);
    margin: 8px;
    overflow: auto;
}
body[role="application"] {
    margin: 0;
    overflow: hidden;
    perspective: 1024px;
    min-height: calc(100vh - 16px);
}
br {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
button,
input[type="button"],
input[type="submit"] {
    background-color: var(--main-color-medium);
    border: 1px solid var(--main-color-dark);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
    transition: transform 0.25s var(--cubic-bezier);
    position: relative;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: var(--main-color-dark);
    border-color: var(--main-color-darker);
}
button:active,
input[type="button"]:active,
input[type="submit"]:active {
    background-color: var(--main-color-darker);
    border-color: var(--main-color-dark);
}
button[ls],
input[type="button"][ls],
input[type="submit"][ls] {
    background-color: transparent;
    border: none;
    padding: 0 4px; /* It was '9px' */
    width: 100%;
    height: 40px;
}
button[ls]:hover,
input[type="button"][ls]:hover,
input[type="submit"][ls]:hover {
    background-color: var(--hover-color-normal);
}
button[ls]:active,
input[type="button"][ls]:active,
input[type="submit"][ls]:active {
    background-color: var(--hover-color-active);
    transform: scale(0.98);
}
button[ls] > *,
input[type="button"][ls] > *,
input[type="submit"][ls] > * {
    float: var(--float-dir-start);
    pointer-events: none;
}
button[ls] > img,
input[type="button"][ls] > img,
input[type="submit"][ls] > img {
    filter: drop-shadow(0 0 4px var(--shadow-color));
    margin: 0.25rem;
    width: 1.75rem;
    height: 1.75rem;
}
button[ls] > p,
input[type="button"][ls] > p,
input[type="submit"][ls] > p {
    margin: 0.55rem 0.25rem;
}
button[ls="on"],
input[type="button"][ls="on"],
input[type="submit"][ls="on"] {
    background-color: var(--hover-color-normal);
    border-left: 4px solid var(--accent-color);
}
button[role="cancel"],
input[type="button"][role="cancel"],
input[type="submit"][role="cancel"] {
    background-color: #e81123;
    border: 1px solid #d80113;
}
button[role="cancel"]:hover,
input[type="button"][role="cancel"]:hover,
input[type="submit"][role="cancel"]:hover,
button[role="confirm"]:hover,
input[type="button"][role="confirm"]:hover,
input[type="submit"][role="confirm"]:hover,
button[role="next"]:hover,
input[type="button"][role="next"]:hover,
input[type="submit"][role="next"]:hover {
    filter: brightness(87.5%);
}
button[role="cancel"]:active,
input[type="button"][role="cancel"]:active,
input[type="submit"][role="cancel"]:active,
button[role="confirm"]:active,
input[type="button"][role="confirm"]:active,
input[type="submit"][role="confirm"]:active,
button[role="next"]:active,
input[type="button"][role="next"]:active,
input[type="submit"][role="next"]:active {
    filter: brightness(75%);
}
button[role="confirm"],
input[type="button"][role="confirm"],
input[type="submit"][role="confirm"] {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
button[role="next"],
input[type="button"][role="next"],
input[type="submit"][role="next"] {
    background-color: #498205;
    border: 1px solid #397200;
}
code {
    appearance: auto;
    background-color: var(--main-color-medium);
    box-shadow: inset 0 2px 4px 0 var(--shadow-color);
    border-radius: 4px;
    font-family: monospace;
    margin: 8px 0;
    overflow: auto;
    padding: 7px;
    max-height: 384px;
}
dialog {
    background-color: var(--main-color-light);
    border: 2px solid;
    border-color: var(--polish-color-top) var(--polish-color-sides) var(--polish-color-bottom);
    border-radius: 6px;
    box-shadow: 0 4px 8px 2px var(--shadow-color);
    overflow: hidden;
    padding: 8px;
    transition: transform 0.25s var(--cubic-bezier);
    z-index: 2;
    position: fixed;
    left: 32px;
    top: 24px;
    width: 512px;
    height: 384px;
}
fieldset {
    border: 2px solid var(--text-color);
    margin: 8px 0;
    padding: 0 12px 6px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
head,
link,
meta,
script,
title {
    display: none;
}
header {
    background-color: var(--main-color-light);
    display: block;
    float: var(--float-dir-start);
    font-weight: bold;
    overflow: hidden;
    padding: 7px 0;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    transition: 0.25s var(--cubic-bezier);
    z-index: 1;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
}
header:lt {
    box-shadow: 0 2px 4px 0 var(--shadow-color);
}
hr {
    border: 1px solid var(--hover-color-normal);
    float: var(--float-dir-start);
    margin: 0;
    width: 100%;
}
html {
    display: block;
    scroll-behavior: smooth;
}
img {
    display: block;
}
iframe,
object {
    border: 2px solid var(--text-color);
}
input {
    float: var(--float-dir-start);
}
input[type="checkbox"] {
    appearance: none;
    background-color: var(--main-color-medium);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border-radius: 4px;
    margin: 8px;
    margin-left: 0;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="range"]:hover,
input[type="text"]:hover,
input[type="textbox"]:hover,
input[type="search"]:hover,,
input[type="email"]:hover,
input[type="password"]:hover,
select:hover {
    background-color: var(--main-color-dark);
}
input[type="checkbox"]:active,
input[type="radio"]:active,
input[type="range"]:active,
input[type="text"]:active,
input[type="textbox"]:active,
input[type="search"]:active,,
input[type="email"]:active,
input[type="password"]:active,
select:active {
    background-color: var(--main-color-darker);
}
input[type="checkbox"]:checked {
    background-color: var(--accent-color);
    background-image: var(--checkbox-icon);
}
input[type="checkbox"][switch] {
    background-image: none;
    border-radius: 2rem;
    width: 48px;
    height: 24px;
}
input[type="checkbox"][switch]:after {
    background-color: var(--text-color);
    border-radius: 2rem;
    content: "";
    display: inline-block;
    transition: left 0.25s var(--cubic-bezier);
    position: relative;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
}
input[type="checkbox"][switch]:checked:after {
    background-color: var(--main-color-light);
    left: 26px;
}
input[type="radio"] {
    appearance: none;
    background-color: var(--main-color-medium);
    border-radius: 2rem;
    margin: 8px;
    margin-left: 0;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
}
input[type="radio"]:checked {
    background-position: center;
    background-size: 75% 75%;
    border: 2px solid var(--accent-color);
    width: 24px;
    height: 24px;
}
input[type="radio"]:checked:after {
    background-color: var(--accent-color);
    border-radius: 50%;
    content: "";
    display: inline-block;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
}
input[type="range"] {
    appearance: none;
    background-color: var(--main-color-medium);
    border-radius: 4px;
    margin: 8px 0;
    width: 300px;
    height: 8px;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    appearance: none;
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
}
input[type="search"],
input[type="text"],
input[type="textbox"],
input[type="email"],
input[type="password"] {
    background-color: var(--main-color-medium);
    border: none;
    border-bottom: 2px solid var(--main-color-dark);
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="textbox"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--accent-color);
}
kbd {
    background-color: var(--main-color-medium);
    border: 1px solid var(--main-color-dark);
    border-radius: 4px;
    font-family: monospace;
    padding: 7px;
}
label {
    display: inline-block;
    float: var(--float-dir-start);
    margin: 11px 0;
    width: calc(100% - 56px);
}
legend {
    padding: 0 4px;
}
option {
    border-radius: 4px;
    padding: 7px;
}
progress {
    appearance: none;
    background-color: var(--main-color-medium);
    border: none;
    border-radius: 2rem;
    display: block;
    margin: 8px;
    overflow: hidden;
    width: 96px;
    height: 8px;
    -webkit-appearance: none;
}
progress:after {
    animation: anim_progress 1s linear infinite;
    background-color: var(--accent-color);
    border-radius: 2rem;
    content: "";
    float: var(--float-dir-start);
    position: relative;
    left: 0;
    top: -8px;
    width: 24px;
    height: 100%;
}
select {
    background-color: var(--main-color-medium);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 7px;
}
video::-webkit-media-controls-panel {
   background-image: none;
   transition: 0.125s linear;
}
video::-webkit-media-controls-panel:hover {
   background-color: rgba(0, 0, 0, 0.25);
}
.-wos-selected {
    border-radius: 4px;
    display: none;
    outline: 2px solid var(--text-color);
    outline-offset: 2px;
    transition: 0.25s var(--cubic-bezier);
    z-index: 65534;
    position: absolute;
}
[dir="rtl"] input[type="checkbox"],
[dir="rtl"] input[type="radio"] {
    margin-left: 8px;
    margin-right: 0;
}
