@keyframes tabOpen {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 240px;
  }
}
@keyframes tabShine {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
#newtab,
#sidetabs {
  background-color: transparent;
  border: none;
  border-radius: 6px;
  float: var(--float-dir-start);
  width: 40px;
  height: 40px;
}
#newtab:hover,
#sidetabs:hover {
  background-color: var(--hover-color-normal);
}
#newtab:active,
#sidetabs:active {
  background-color: var(--hover-color-active);
}
#newtab:hover,
#newtab:active,
#sidetabs:hover,
#sidetabs:active {
  z-index: 4;
}
#newtab:before {
  background-image: url("../images/add.png");
}
#sidetabs:before {
  background-image: url("../images/side_tabs.png");
}
#tabs {
  display: flex;
  float: var(--float-dir-start);
  padding: 0 4px;
  max-width: calc(100% - 94px);
  height: 40px;
}
/* #tabs:hover {
  overflow-x: overlay;
} */
#tabs::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}
#tabs::-webkit-scrollbar-button {
  display: none;
}
#tabs::-webkit-scrollbar-thumb {
  border-width: 1px;
}
#tab-views {
  background-color: var(--main-color-medium);
  position: relative;
  height: calc(100% - 80px);
}
#tab-views:before {
  align-items: center;
  color: var(--text-color);
  content: "Please click the plus button to open a new tab.";
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#tab-views.disabled > webview[data-uuid] {
  pointer-events: none;
}
.fullscreen #tab-views {
  transform: translateY(-76px);
  height: calc(100% - 4px);
}
.fullscreen .tabbar {
  -webkit-app-region: none;
}
.maximized .actions #maximize:before {
  background-image: url("../images/restore.png");
}
.maximized.sidetabs .tabbar {
  position: absolute;
  left: 0;
  top: 40px;
  height: calc(100% - 40px);
}
.sidetabs #newtab,
.sidetabs #sidetabs {
  margin: 8px;
}
.sidetabs #tabs {
  display: block;
  margin: 0 8px;
  overflow: visible;
  padding: 0;
  width: calc(100% - 16px);
  max-width: none;
  height: auto;
}
.sidetabs #tab-views {
  position: relative;
  left: 56px;
  top: 0;
  width: calc(100% - 56px);
  height: calc(100% - 40px);
}
.sidetabs .tab {
  margin: 0;
  padding: 8px;
  overflow: hidden;
  width: 100%;
  min-width: 0;
  max-width: none;
}
.sidetabs .tab > .tab-icon {
  margin: 4px;
}
.sidetabs .tab > .tab-title {
  display: none;
  height: 100%;
}
.sidetabs .tab > .tab-audio,
.sidetabs .tab > .tab-close {
  display: none;
  margin: 0;
}
.sidetabs .tab.selected {
  border-radius: 6px;
}
.sidetabs .tab.selected:before,
.sidetabs .tab.selected:after {
  display: none;
}
.sidetabs .tabbar {
  background-color: var(--main-color-medium);
/*   border-right: 1px solid var(--main-color-dark); */
  transition: 250ms var(--cubic-bezier);
  z-index: 8;
  position: absolute;
  left: 4px;
  top: 44px;
  width: 56px;
  height: calc(100% - 48px);
  -webkit-app-region: none;
}
.sidetabs .tabbar:hover {
  box-shadow: 6px 0 4px -4px var(--shadow-color);
  transition: box-shadow 250ms var(--cubic-bezier), width 250ms var(--cubic-bezier) 500ms;
  width: 320px;
}
.sidetabs .tabbar:hover:before {
  transition: 250ms var(--cubic-bezier) 500ms;
  position: fixed;
  left: 320px;
  top: 40px;
  width: calc(100% - 320px);
  height: calc(100% - 40px);
}
.sidetabs .tabbar:hover .tab {
  overflow: visible;
}
.sidetabs .tabbar:hover .tab > .tab-title {
  display: flex;
}
.sidetabs .tabbar:hover .tab > .tab-audio,
.sidetabs .tabbar:hover .tab > .tab-close {
  display: block;
}
.sidetabs .tabbar:not(:hover) .tab > .tab-audio {
  background-color: var(--main-color-light);
  position: absolute;
  left: 8px;
  top: 8px;
}
.sidetabs .tabbar .tab > .tab-info {
  position: absolute;
  left: calc(100% + 16px);
  top: 0;
  width: 320px;
}
/* .sidetabs .tabbar:before {
  background-color: var(--shadow-color);
  content: "";
  pointer-events: none;
  transition: 250ms var(--cubic-bezier);
  z-index: 6;
  position: fixed;
  left: 56px;
  top: 40px;
  width: 0;
  height: calc(100% - 40px);
} */
/* .sidetabs .tabbar:before {
  background-color: var(--main-color-light);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -4px;
  width: 8px;
  height: 8px;
}
.sidetabs .tabbar:after {
  background-color: var(--main-color-light);
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -4px;
  width: 8px;
  height: 8px;
} */
.sidetabs.fullscreen .tabbar,
.sidetabs.maximized .tabbar {
  position: absolute;
  left: 0;
  top: 40px;
  height: calc(100% - 40px);
}
.tab {
  animation: tabOpen 250ms var(--cubic-bezier);
  background-color: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
  float: var(--float-dir-start);
  padding: 0 4px;
  position: relative;
  left: 0;
  top: 0;
  width: 32em;
  min-width: 80px;
  max-width: 240px;
  height: 40px;
}
.tab:hover {
  background-color: var(--hover-color-normal);
  z-index: 2;
}
.tab:active {
  background-color: var(--hover-color-active);
  z-index: 2;
}
.tab.drag {
  background-color: rgba(0, 192, 255, 0.125);
  overflow: hidden;
}
.tab.drag:before {
  animation: tabShine 1s ease infinite;
  background-image: linear-gradient(to right, transparent, var(--accent-color), transparent);
  content: "";
  display: block;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tab.drag * {
  pointer-events: none;
}
.tab.selected {
  background-color: var(--main-color-light);
  border-radius: 6px 6px 0 0;
  box-shadow: 0 2px 4px 0 var(--shadow-color);
  cursor: default;
  z-index: 1;
}
.tab.selected:hover {
  box-shadow: 0 4px 8px 0 var(--shadow-color);
}
.tab.selected:hover:before {
  box-shadow: 4px 4px 0 4px var(--main-color-light);
}
.tab.selected:hover:after {
  box-shadow: -4px 4px 0 4px var(--main-color-light);
}
.tab.selected:before {
  background-color: transparent;
  border-radius: 0 0 6px 0;
  box-shadow: 4px 4px 0 4px var(--main-color-light);
  content: "";
  position: absolute;
  left: -8px;
  bottom: 0;
  width: 8px;
  height: 8px;
}
.tab.selected:after {
  background-color: transparent;
  border-radius: 0 0 0 6px;
  box-shadow: -4px 4px 0 4px var(--main-color-light);
  content: "";
  position: absolute;
  right: -8px;
  bottom: 0;
  width: 8px;
  height: 8px;
}
.tab.selected > p:before {
  background-image: linear-gradient(to right, transparent, var(--main-color-light));
}
.tab .tab-icon {
  float: var(--float-dir-start);
  margin: 10px 4px;
  width: 16px;
  height: 16px;
}
.tab .tab-title {
  align-items: center;
  display: flex;
  float: var(--float-dir-start);
  margin: 0;
  overflow: hidden;
  text-overflow: clip;
  transition: width 250ms var(--cubic-bezier);
  white-space: nowrap;
  position: relative;
  left: 0;
  top: 0;
  width: calc(100% - 72px);
  height: 36px;
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}
.tab > .tab-audio,
.tab > .tab-close {
  border-radius: 4px;
  display: block;
  float: var(--float-dir-end);
  margin: 6px 0;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.tab > .tab-audio:before,
.tab > .tab-close:before {
  background: center no-repeat;
  background-size: 16px;
  content: "";
  display: block;
  filter: var(--icon-filter);
  margin: 4px;
  width: 16px;
  height: 16px;
}
.tab > .tab-audio:hover {
  background-color: var(--hover-color-normal);
}
.tab > .tab-audio:before {
  background-image: url("../images/audio_16.png");
}
.tab > .tab-audio.muted:before {
  background-image: url("../images/audio_muted_16.png");
}
.tab > .tab-close:hover {
  background-color: #ff0000;
}
.tab > .tab-close:before {
  background-image: url("../images/close_16.png");
}
.tab-info {
  background-color: var(--main-color-light);
  border-radius: 6px;
  box-shadow: 0 16px 32px 0 var(--shadow-color);
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
  padding: 8px;
  transform: translateY(-16px);
  transition: 250ms var(--cubic-bezier);
  visibility: hidden;
  z-index: 1;
  position: absolute;
  left: -16px;
  top: 40px;
  width: calc(100% + 32px);
}
.tab-webview {
  background-color: #ffffff;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tab-webview.selected {
  display: flex;
}
.tabbar {
  width: calc(100% - 196px);
  height: 40px;
  -webkit-app-region: drag;
}
.tabbar > * {
  -webkit-app-region: none;
}
[dir="rtl"] .sidetabs .tabbar .tab > .tab-info {
  left: auto;
  right: calc(100% + 16px);
}
[dir="rtl"] .maximized.sidetabs .tabbar {
/*   border-left: 1px solid var(--main-color-dark); */
/*   border-right: none; */
  left: auto;
  right: 0;
}
[dir="rtl"] .sidetabs .tabbar {
/*   border-left: 1px solid var(--main-color-dark); */
/*   border-right: none; */
  left: auto;
  right: 4px;
}
[dir="rtl"] .sidetabs .tabbar:hover {
  box-shadow: -6px 0 4px -4px var(--shadow-color);
}
[dir="rtl"] .tab .tab-title {
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}
