@keyframes reloadDefault {
  from {
    transform: var(--dir-icon) rotate(-45deg);
  }
  to {
    transform: var(--dir-icon) rotate(0);
  }
}
@keyframes reloadStop {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes libraryNotify {
  0% {
    transform: translateY(0);
  }
  33.33% {
    transform: translateY(2px);
  }
  66.66% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
#addons:before {
  background-image: url("../images/addons.png");
}
#back:before {
  background-image: url("../images/back_arrow.png");
}
#downloads:before {
  background-image: url("../images/downloads.png");
}
#favorite {
  position: absolute;
  right: 180px;
  top: 4px;
  width: 36px;
  height: calc(100% - 8px);
}
#favorite:before {
  background-image: url("../images/favorite.png");
}
#find-text {
  position: absolute;
  right: 216px;
  top: 4px;
  width: 36px;
  height: calc(100% - 8px);
}
#find-text:before {
  background-image: url("../images/find_text.png");
}
#forward:before {
  background-image: url("../images/forward_arrow.png");
}
#home:before {
  background-image: url("../images/home.png");
}
#library.notify {
  animation: libraryNotify 250ms var(--cubic-bezier);
  background-color: var(--accent-color);
}
#library:before {
  background-image: url("../images/library.png");
}
#navbar {
  background-color: var(--main-color-light);
/*   border-bottom: 1px solid var(--main-color-dark); */
  box-sizing: border-box;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(4, 40px) auto repeat(4, 40px);
  grid-template-rows: auto;
  padding: 4px;
  z-index: 4;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
}
#navbar > * {
  box-sizing: border-box;
  height: 32px;
}
#navbar > button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0;
}
#navbar > button:hover {
  background-color: var(--hover-color-normal);
}
#navbar > button:active {
  background-color: var(--hover-color-active);
}
#navbar > input[type="text"] {
  border: none;
}
#options:before {
  background-image: url("../images/hamburger.png");
}
#reload:before {
  animation: reloadDefault 250ms var(--cubic-bezier);
  background-image: url("../images/reload.png");
}
#reload.stop:before {
  animation: reloadStop 250ms var(--cubic-bezier);
  background-image: url("../images/close.png");
}
#security {
  position: absolute;
  left: 180px;
  top: 4px;
  width: 36px;
  height: calc(100% - 8px);
}
#security:before {
  background-image: url("../images/exclamation_16.png");
  background-size: 16px;
  width: 16px;
}
#security.https:before {
  background-image: url("../images/lock_16.png");
}
#security.file:before {
  background-image: url("../images/file_16.png");
}
#urlbar {
  padding-left: 40px;
  padding-right: 76px;
  transition: 250ms var(--cubic-bezier);
}
#urlbar:focus-visible {
  background-color: var(--main-color-medium);
}
.sidetabs #navbar {
  padding-right: 200px;
  height: 40px;
}
[dir="rtl"] #favorite {
  left: 180px;
  right: auto;
}
[dir="rtl"] #find-text {
  left: 216px;
  right: auto;
}
[dir="rtl"] #security {
  position: absolute;
  left: auto;
  right: 180px;
  top: 4px;
}
[dir="rtl"] #urlbar {
  padding-left: 76px;
  padding-right: 40px;
}
[dir="rtl"] .sidetabs #favorite {
  left: 376px;
  right: auto;
}
[dir="rtl"] .sidetabs #find-text {
  left: 412px;
  right: auto;
}
[dir="rtl"] .sidetabs #navbar {
  padding-left: 200px;
  padding-right: 4px;
}
[dir="rtl"] .sidetabs #tab-views {
  left: auto;
  right: 56px;
}
