@keyframes netErrorSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
:root {
  --accent-color: #c04040;
}
button {
  text-align: center;
}
#net-error {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#reload {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2rem;
  color: #000000;
  padding: 12px;
  transition: 250ms var(--cubic-bezier);
  width: 80px;
}
#reload:hover {
  filter: brightness(1.25);
}
#reload:active,
#settings:active {
  filter: brightness(0.75);
}
#settings {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 2rem;
  padding: 10px;
  transition: 250ms var(--cubic-bezier);
}
#settings:hover {
  background-color: var(--accent-color);
  color: #000000;
}
.container {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto;
  grid-column-gap: 8px;
  margin: auto;
  width: min-content;
  height: min-content;
}
.container > * {
  animation: netErrorSlideLeft 250ms var(--cubic-bezier);
}
.context {
  min-width: 432px;
}
.image {
  margin: 8px 0;
  pointer-events: none;
  width: 100%;
}
.maximized {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
